*.iml
.gradle
.gradle_user_home
.idea
.kotlin
/local.properties
.DS_Store
/build
node_modules/
/captures
.externalNativeBuild
.cxx
local.properties
/misc

.claude/
.codex/
.vscode/
.codex/
.agents/
claude-code-main/

skills-lock.json

release.jks
*.jks
*.keystore

testbot/build

log.txt

output/
